*{
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-color: #F1F1F1;
  overflow-x: hidden;
}

@media (min-width: 1536px){
  html{
    font-size: 18px;
  }
}

@media(min-width: 2000px){
  html{
    font-size: 20px;
  }
}

.body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

a{
  text-decoration: none;
  color: #212121;
}

ul{
  list-style-type : none;
}

header{
  padding: 3.9vh 7.8vw;
  width: 100vw;
  top: 0;
  position: absolute;
  z-index: 10;
}

nav{
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 50% 1fr 1fr;
  font-weight: 500;
}

.menu{
  display: flex;
  gap: 2.6vw;
  padding-left: 0;
}

.menu li{
  position: relative;
  white-space: nowrap;
}

.bolded:hover{
  color: #000000;
}

.menu li a:hover{
  color: #E86443;
}

.menu li a:hover > .dropArrow{
  filter: invert(43%) sepia(26%) saturate(1726%) hue-rotate(323deg) brightness(101%) contrast(90%);
}

.bolded{
  font-weight: 700;
  cursor: pointer;
}


/* mai jos e ceea ce tine de cart */

#image:hover{
  filter: invert(43%) sepia(26%) saturate(1726%) hue-rotate(323deg) brightness(101%) contrast(90%);
 }

.cart{
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: 10;
  display: none;
  grid-template-columns: 1fr 560px;
}

.transparentGray{
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #212121;
}

.cart-self{
  padding: 8vh 2.6vw 5.1vh;
  background-color: #F1F1F1;
}

.first-bar, .second-bar{
  width: 40px;
  height: 4px;
  background-color: #212121;
  transform-origin: center;
}

.first-bar{
  transform: rotate(45deg);
}

.second-bar{
  transform: translateY(-100%) rotate(-45deg);  
}

.close{
  position: absolute;
  top: 5vh;
  right: 2.6vw;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5vh;
}

.tools button{
  border: none;
  border-radius: 10px;
  padding: 2.5vh 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: #E86443;
  width: 100%;
  color: #F1F1F1;
  cursor: pointer;
  transition: 0.4s;
}

.tools button:hover{
  border: 2px solid #212121;
  background-color: #F1F1F1;
  color: #212121;
}

.tools{

}

.buys{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5vh;
}

.buy-item{
  position: relative;
  width: 460px;
  height: 200px;
}

.buy-item img{
  position: absolute;
  width: 175px;
  height: 200px;
  aspect-ratio: 391/556;
  object-fit: contain;
}

.buy-item h3{
  color: #212121;
  margin: 0;
  position: absolute;
  left: 200px;
  top: 75px;
  font-size: 1rem;
  font-weight: 500;
}

.buy-item p{
  color: #212121;
  position: absolute;
  font-size: 0.8rem;
  margin: 0;
  left: 200px;
  bottom: 75px;
}

.buy-item span{
  position: absolute;
  right: 25px;
  bottom: 75px;
  font-size: 1rem;
  font-weight: 500;
}

#deleteX{
  position: absolute;
  top: 15px;
  right: 25px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* ----------- */

.dropdown{
  margin: 0;
  padding-top: 10px;
  display: none;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  background: transparent;
}

.dropdown li{
  margin-bottom: 10px;
}

.dropdown li a{
  padding-right: 100%;
}

.dropdown li a:hover{
  color: #E86443;
}

.menu li:hover > .dropdown{
  display: block;
  opacity: 1;
}

.iconite{
  margin: 0;
  display: flex;
  gap: 1.8vw;
  padding-left: 0;
  align-items: center;
  justify-content: right;
}


.image:hover{
 filter: invert(43%) sepia(26%) saturate(1726%) hue-rotate(323deg) brightness(101%) contrast(90%);
}

@media (max-width: 1366px){
  nav{
    grid-template-columns: 40% 1fr 1fr;
  }
}

.secondMenu{
  width: 100vw;
  height: 100vh;
  background-color: #A5B670;
  position: relative;
  display: none;
}

.topleft img{
  width: 23px;
  height: 23px;
  margin-left: 15px;
}

.topleft{
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 200;
}

.mid{
  font-size: 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mid strong{
  cursor: pointer;
}

.bottomleft{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 15px;
  left: 40px;
  bottom: 50px;
}

.burger {
  position: absolute;
  right: 0;
  display: none;
  gap: 4px;
  cursor: pointer;
}

.line-top,
.line-mid,
.line-bottom {
  width: 40px;
  height: 3px;
  background-color: #212121;
  position: relative;
  transform-origin: center;
  transition: transform 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.burger.active .line-top {
  transform: translate(6px, 8px) rotate(45deg);
}

.burger.active .line-mid {
  opacity: 0;
}

.burger.active .line-bottom {
  transform: translate(6px, -6px) rotate(-45deg);
}

.destroy{
  transform: translateY(1000px);
}

.activeSecondMenu{
  display: block;
}

@media (max-width: 1024px){
  .iconite, .menu{
    display: none;
  }

  .burger{
    display: grid;
    z-index: 100;
  }
}

/* Pentru bara de navigare */

footer{
  background-color: #212121;
  position: relative;
}

.pentruMob{
  padding: 25px;
  display: none;
}

.pentruMob img{
  width: 141px;
  height: 39px;
  margin-bottom: 75px;
}

.pentruMob h4{
  color: #555555;
  font-size: 1rem;
  margin: 10px 0;
}

.pentruMob ul{
  list-style-type: none;
  padding: 0;
}

.pentruMob ul li{
  margin-bottom: 5px;
}

.pentruMob ul li a{
  color: #F1F1F1;
}

.pentruMob ul li:last-child{
  margin-bottom: 25px;
}

.border-b{
  width: 100%;
  border-bottom: 1px solid #F1F1F1;
}

.opg{
  padding: 10.3vh 7.81vw;
  display: grid;
  grid-template-columns: 1fr;
}

.top-opg{
  padding: 0 2.6vw;
  display: grid;
  grid-template-columns: 30% 1fr;
  border-bottom: 1px solid #F1F1F1;
}

.top-opg ul li{
  white-space: nowrap;
}

.top-opg ul{
  color: #555555;
  font-weight: 500;
  list-style-type: none;
  display: flex;
  margin: 0 0 2.57vh;
  padding: 0;
}

.low-opg{
  display: grid;
  grid-template-columns: 30% 1fr;
  padding: 0 2.6vw;
}

.rtp{
  display: flex;
  padding: 0;
}


.rtp ul li{
  margin-bottom: 10px;
}

.rtp ul li a{
  color: #F1F1F1;
  white-space: nowrap;
}

.P0{
  padding: 0;
}

.P1, .P2, .P3{
  padding-left: 5.4vw;
}

@media (max-width: 800px){
  .pentruPc{
    display: none;
  }

  .pentruMob{
    display: block;
  }
}

.P0{
  padding: 0;
}

.P1, .P2, .P3{
  padding-left: 5.4vw;
}

@media (max-width: 1680px){
  .P2{
    padding-left: 5.13vw;
  }

  .P3{
    padding-left: 4.5vw;
  }
}

@media (max-width: 1680px){
  .P3{
    padding-left: 4vw;
  }
}

@media (max-width: 1366px){
  .P2{
    padding-left: 4.8vw;
  }

  .P3{
    padding-left: 3.8vw;
  }
}

@media (max-width: 1366px){
  .P2{
    padding-left: 4.8vw;
  }

  .P3{
    padding-left: 3.8vw;
  }

  .top-opg, .low-opg{
    grid-template-columns: 25% 1fr;
  }
}

@media (max-width: 1024px){
  .top-opg img{
    display: none;
  }

  .low-opg div:first-child{
    display: none;
  }

  .necesar{
    padding-left: 4vw;
  }

  .P0{
    padding-left: 4vw;
  }

  .P1{
    padding-left: 5.8vw;
  }

  .P2{
    padding-left: 3.4vw;
  }

  .P3{
    padding-left: 1.2vw;
  }
}

/* pentru footer */

.pentruPcCont{
  position: relative;
  background-image: url(../source/mapa.webp);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

main h1{
  position: absolute;
  color: #212121;
  top: 7vh;
  left: 7.81vw;
  font-weight: 700;
  font-size: 8.66vh;
  line-height: 12.3vh;
}

main h1 img{
  aspect-ratio: 66/95;
  width: 3.4vw;
}

.grayrectangle{
  position: absolute;
  bottom: 0;
  right: 7.86vw;
  background-color: #212121;
  height: 80%;
  width: 34.27vw;
  box-shadow: 8px 8px 35px rgba(0, 0, 0, 0.05);
}

.forPad{
  padding: 10vh 2.6vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10vh;
}

.informatii strong{
  color: #F1F1F1;
  font-size: 1.33rem;
}

.icons{
  aspect-ratio: 32/32;
  object-fit: contain;
  width: 1.25vw;
  margin-right: 2.6vw;
}

.informatii ul{
  padding: 0;
  margin-top: 5vh;
}

.informatii ul li{
  display: flex;
  align-items: center;
  color: #F1F1F1;
  margin-bottom: 5.15vh;
}

.pentruMobMain{
  display: none;
}

@media (max-width: 1024px){
  .forPad{
    padding: 5vh 2.6vw;
    gap: 5vh;
  }
}

@media (max-width: 430px){

  .pentruPcCont{
    display: none;
  }

  .pentruPc{
    display: none;
  }

  .pentruMobMain{
    position: relative;
    display: block;
    width: 100%;
    height: 200vh;
  }

  .pentruMobMain h1{
    font-size: 32px;
    line-height: 42px;
    top: 100px;
    position: absolute;
  }

  .pentruMobMain h1 img{
    margin-bottom: 0;
    width: 29px;
    height: 42px;
  }
  
  .grayrectangle{
    width: 100%;
    height: 618px;
    position: absolute;
    top: 239px;
    left: 0;
  }

  .forPad{
    margin-left: 1.3vw;
  }

  .icons{
    width: 24px;
    height: 24px;
  }

  .mapa-mob{
    position: absolute;
    top: 827px;
    right: 0;
    width: 100%;
    height: 640px;
    object-fit: cover;
  }
}

.adresa{
  color: #F1F1F1;
}